@import url('semantic-ui-css/semantic.min.css');

body {
  background: #fff;
}
.ui.fixed.menu {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

.main {
  margin-top: 7em;
}
